<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>
  <p>
    The Super Rentals website is a delightful project created by Jason Yang.
    By building a property rental site, 我可以展示我的web development的经验。
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>