<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Me</h2>
  <p>Super Rentals Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <address>
    Super Rentals HQ
    <p>
      Around Paya Lebar MRT Station<br>
      Singapore, OR 123
    </p>
    <a href="tel:83284518">+65 8328 4518</a><br>
    <a href="mailto:jhyapril@gamil.com">jhyapril@gamil.com</a>
  </address>
  <br>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
</div>